body {
  background-color: hsl(0, 0%, 96%);
}
.container {
  max-width: 700px;
}

.App {
  font-family: "KoHo", sans-serif;
  text-align: center;
  color: #2c3a49;
}

.footer {
  margin-top: 50px;
}

.SearchForm {
  margin-top: 30px;
}

.search-field {
  margin-top: 10px;
}

.search-btn {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fda5a3;
  border: #fda5a3;
  color: #2c3a49;
}

.search-btn:hover {
  background-color: #ba7b7a;
  border: #ba7b7a;
  color: #2c3a49;
}

.btn-primary {
  background-color: #fda5a3;
  border: #fda5a3;
  color: #2c3a49;
}

.btn-primary:hover {
  background-color: #ba7b7a;
  border: #ba7b7a;
  color: #2c3a49;
}
h1 {
  font-size: 38px;
  padding: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #2c3a49;
  color: white;
  border-radius: 4px;
}

.card {
  margin-bottom: 20px;
  box-shadow: black;
}
h3 {
  font-size: 28px;
}
.card-header {
  font-size: 28px;
  background-color: #c4d0dc;
}
.definition {
  font-size: 22px;
}

.example {
  font-size: 22px;
  font-weight: lighter;
  font-style: italic;
  margin-top: 10px;
}

.links {
  font-weight: bold;
  color: #fda5a3;
}

.synonyms {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

li {
  display: inline-flex;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fda5a3;
}
