.container {
  max-width: 700px;
}

.App {
  font-family: "KoHo", sans-serif;
  text-align: center;
}

.footer {
  margin-top: 50px;
}

.SearchForm {
  margin-top: 30px;
}

.search-field {
  margin-top: 10px;
}

.search-btn {
  margin-left: 10px;
  margin-top: 10px;
}
h1 {
  font-size: 32px;
  padding: 10px;
  font-weight: bold;
  margin-top: 30px;
  background-color: black;
  color: white;
}

.card {
  margin-bottom: 20px;
}
h3 {
  font-size: 28px;
}
.card-header {
  font-size: 28px;
}
.definition {
  font-size: 22px;
}

.example {
  font-size: 20px;
  font-style: italic;
}
