.container {
  max-width: 700px;
}

.App {
  font-family: "KoHo", sans-serif;
  text-align: center;
}

.footer {
  margin-top: 50px;
}

.SearchForm {
  margin-top: 30px;
}

.search-field {
}

.search-btn {
  margin-left: 10px;
}
